.mypy_cache/
.vscode/
__pycache__/

5th Year/
RANDOM/
TESTING/

00_Better_versions/
00_Nob_versions/
13_SECRET_FOLDER_HAHA/

exercise/
output/
the-rusty-versions/
the-plus-versions/

*.json
.clang-format
